<h2><%= hr_index %> &#187; <%= l(:label_contact_list) %></h2>

<% if @users.any? %>
  <table class="list contact_list">
    <thead><tr>
        <th><%=l(:label_avatar)%></th>
        <th><%=l(:label_user)%></th>
        <th><%=l(:label_position)%></th>
        <th><%=l(:field_mail)%></th>

        <% available_custom_fields=UserDetails.new.available_custom_fields %>
        <% for custom_field in available_custom_fields %>
          <th>
            <% if custom_field.is_public %>
              <%=h custom_field.name %>
            <% end %>
          </th>
        <% end %>

      </tr></thead>
    <tbody>
      <% previous_position_id=0 %>
      <% @users.each do |user| %>
        <% if user.position.id!=previous_position_id %>
          <% previous_position_id=user.position.id %>
          <tr>
            <th colspan="<%= 4+available_custom_fields.length%>"><%= user.position.title %></th>
          </tr>
        <% end %>
        <tr class="<%= cycle 'odd', 'even' %>">
          <td><%= avatar(user, :size => "60") %></td>
          <td><%= link_to_user user %></td>
          <td><%= user.position.title %> </td>
          <td><%= mail_to(user.mail) %> </td>

          <% if user.user_details!=nil %>
            <% for custom_value in user.user_details.custom_field_values %>
              <td>
                <% if !custom_value.value.blank? and !custom_value.custom_field.is_public==false %>
                  <%=h show_value(custom_value) %>
                <% end %>
              </td>
            <% end %>
          <% else %>
            <% for i in available_custom_fields%>
              <td></td>
            <%  end %>
          <% end %>

        </tr>
      <% end  %>

    </tbody>
  </table>
<% else %>
  <p class="nodata"><%= l(:label_no_data) %></p>
<% end %>