<% if authorized_globally('positions','new') %>
  <div class="contextual">
    <%= link_to l(:label_position_new), {:action => 'new'}, :class => 'icon icon-add' %>
  </div>
<% end %>
<h2><%= hr_index %> &#187 <%= l(:label_position_plural) %></h2>

<% if @positions.any? %>
  <table class="list positions">
    <thead><tr>
        <th><%=l(:label_position)%></th>
        <th><%=l(:field_manager)%></th>
        <th><%=l(:button_sort)%></th>
        <th><%=l(:label_user_plural)%></th>
        <th></th>
      </tr></thead>
    <tbody>
      <% @positions.each do |position| %>
        <tr class="<%= cycle 'odd', 'even' %>">
          <td>
            <%=  link_to  position[:title], {:controller => 'positions', :action => 'edit', :id => position}%>
          </td>
          <td>
            <%=  (position.manager==NIL)?l(:label_nobody) : (link_to  position.manager.title, {:controller => 'positions', :action => 'edit', :id => position.manager_id})%>
          </td>
          <td align="center" style="width:15%;"><%= reorder_links('position', {:action => 'edit', :id => position}) %></td>
          <td align="center">
            <% position.users.each do |user| %>
              <p>
                <%= link_to_user(user) %>
              </p>
            <% end %>
          </td>
          <td class="buttons">
            <% if authorized_globally('positions','edit') %>
              <%= link_to  l(:button_edit), {:controller => 'positions', :action => 'edit', :id => position}, :class => 'icon icon-edit' %>
            <% end %>
            <% if authorized_globally('positions','destroy') %>
              <%= link_to_if authorized_globally('positions','destroy'), l(:button_delete),  {:controller => 'positions', :action => 'destroy', :id => position}, :confirm => l(:text_are_you_sure),  :class => 'icon icon-del' %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p class="nodata"><%= l(:label_no_data) %></p>
<% end %>