<h2><%= hr_index %> &#187; <%= hr_organizations_index %> &#187; <%= @hr_organization %></h2>
<% labelled_tabular_form_for @hr_organization do |f| %>
  <%= render :partial => 'form', :locals => { :f => f } %>
  <p>
    <%= submit_tag l(:button_edit) %>
  </p>
<% end %>