<%
today=Date.today
%>
<table id="wt_calendar">
  <tr class="wt_calendar-row-days">
    <th rowspan="2" class="wt_calendar-issues-column">
      <%= link_to("<<", @link_params.merge(:day=>@last_month.day, :month=>@last_month.month, :year=>@last_month.year))%>
      <%= @this_year %>/<%= @month_names[@this_month-1] %>
      <%= link_to(">>", @link_params.merge(:day=>@next_month.day, :month=>@next_month.month, :year=>@next_month.year))%>
    </th>
    <th>

    </th>
    <% # Displays the days of the month
    @month_days.each do |date, day|
    %>
      <th class="<%= day[:style] %>">
        <%= link_to(date.day, @link_params.merge(:day=>date.day)) %>
      </th>
    <% end  %>
  </tr>
  <tr class="wt_calendar-row-wdays">
    <td class="wt_calendar-col-total">
      Total
    </td>
    <% # Displays the days of the month
    @month_days.each do |date, day|
    %>
      <td class="<%= day[:style] %>">
        <%= @wday_name[date.wday]%>
      </td>
    <% end  %>
  </tr>
  <%
  @month_pack[:odr_prjs].each do |prj_pack|
    next if prj_pack[:count_issues] == 0
    prj = prj_pack[:prj]
    dsp_pos = prj_pack[:odr]%>
    <tr class="wt_calendar-row-project">
      <td class="wt_calendar-issues-column">
        <%= prj.name%>
      </td>
      <td class="wt_calendar-col-total">
        <%=sprintf("%1.1f",prj_pack[:total])%>
      </td>
      <% @month_days.each do |date, day| %>
        <td class="<%= day[:style] %>">
          <%if prj_pack[:total_by_day].has_key?(date) then%>
            <%=sprintf("%1.1f", prj_pack[:total_by_day][date])%>
          <%end%>
        </td>
      <% end  %>
    </tr>
    <%
    prj_pack[:odr_issues].each do |issue_pack|
      next if issue_pack[:count_hours] == 0
      issue_id = issue_pack[:issue].id
      issue_odr = issue_pack[:odr]
      issue = issue_pack[:issue]
    %>

      <tr class="wt_calendar-row-<%= cycle("even", "odd") -%>">
        <td class="wt_calendar-issues-column">
          <div class="<%= 'starting' if today == issue.start_date %> <%= 'ending' if today == issue.due_date %> tooltip">
            <%if @this_uid==@crnt_uid then%>
              <a href="JavaScript:issue_pos('<%=url_for(@link_params) %>',<%=issue_id%>,<%=issue_odr%>,<%=@issue_odr_max+((issue_odr.to_i<0)?1:0)%>);">
                <%= (issue_odr.to_i<0) ? "*" : issue_odr %>
              </a>
            <%end%>
            <%= link_to_issue issue, :truncate => 80 %>
            <span class="tip"><%= render_issue_tooltip issue %></span>
            <%= print_issue_cost(issue) %>
          </div>
        </td>
        <td class="wt_calendar-col-total">
          <%=sprintf("%1.1f", issue_pack[:total])%>
        </td>
      <% end %>
      <% # Loop on the days of the things
      @month_days.each do |date, day|
        if day[:is_selected] then
          today_id = 'id="day_scroll_today"'
        else
          today_id = ''
        end
      %>
        <td class="<%= day[:style] %>">
          <%if prj_pack[:total_by_day].has_key?(date) then%>
            <%=sprintf("%1.1f", prj_pack[:total_by_day][date])%>
          <%end%>
        </td>
      <% end %>
    </tr>
  <% end %>
  <tr class="wt_calendar-row-total">
    <td class="wt_calendar-issues-column">Total</td>
    <td class="wt_calendar-col-total"><%=sprintf("%1.1f", @month_pack[:total])%></td>
    <% # Displays the total worked by day
    @month_days.each do |date, day|
    %>
      <td class="<%= day[:style] %>">
        <%if @month_pack[:total_by_day].has_key?(date) then %>
          <%= sprintf("%1.1f", @month_pack[:total_by_day][date])%>
        <% end %>
      </td>
    <% end %>
  </tr>
</table>
<script type="text/javascript">
  <!--
  var scr = document.getElementById("day_scroll");
  var tgt = document.getElementById("day_scroll_today");
  scr.scrollLeft = tgt.offsetLeft - scr.offsetLeft;
  -->
</script>
